footer {
    background-color: #1f1f1f;
    border-top: 0.0625rem solid #444746;
    /* //FIXME: CHECK MARGIN FOR FOOTER */
    /* margin-top: 1.5rem; */
    padding: 1.5rem;
  }
  @media print {
    footer {
      display: none;
    }
  }
  footer ul {
    display: inline-block;
    list-style: none;
  }
  footer li {
    display: inline-block;
  }
  footer li + li:before {
    content: "-";
  }
  footer > div {
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
  }
  .footer-links {
    color: #c4c7c5;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin: 0 0.625rem;
  }
  .footer-links a {
    color: #c4c7c5;
    text-decoration: none;
  }
  footer .footer-links ul {
    display: none;
    font-size: 0.75rem;
    line-height: 3rem;
    margin-right: 1.5rem;
    width: initial;
  }
  .user-feedback-link__svg-container {
    fill: #a8c7fa;
    height: 1.125rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    width: 1.125rem;
  }
  .feedback-menu__prompt {
    background-color: transparent;
    box-sizing: border-box;
    color: #e3e3e3;
    font-family: "Google Sans Text", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    text-align: left;
    width: 100%;
  }
  .feedback-menu .material-menu__item {
    padding: 0.75rem 1rem;
  }
  a.user-feedback-link {
    border: 0.0625rem solid #444746;
    border-radius: 0.25rem;
    color: #a8c7fa;
    display: none;
    font-family: "Google Sans Text", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 3rem;
    min-height: 3rem;
    padding: 0 0.9375rem;
  }
  @media (min-width: 48.1875rem) {
    footer {
      border-top: none;
      padding: 1rem 0;
    }
    .footer-links {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    .footer-links-right-container {
      align-items: center;
      display: flex;
    }
    footer .footer-links ul {
      display: inline-block;
    }
    a.user-feedback-link {
      display: inline-block;
    }
    a.user-feedback-link:hover {
      background-color: #303030;
      border-radius: 0.125rem;
      text-decoration: none;
    }
  }
  @media (min-width: 61rem) {
    footer {
      clear: both;
    }
  }
  @media (min-width: 74.125rem) {
    .footer-links {
      box-sizing: border-box;
      margin: 0 auto;
      padding-left: 0.75rem;
      text-align: left;
      width: 73.125rem;
    }
  }
  @media (min-width: 84.4375rem) {
    .footer-links {
      padding: 0 4rem 0 5rem;
      width: 100%;
    }
  }